JWT_SECRET=suasecret
MERCADOPAGO_ACCESS_TOKEN=seutokenmercadopago
NGROK_URL=suaurlngrok
DB_ROOT_PASSWORD=suasenhadoroot
DB_HOST=database
DB_USER=seuusuario
DB_PASSWORD=suasenha
DB_DATABASE_NAME=teubanco
VITE_API_URL=https://moonlight.local/api
VITE_USE_MOCK="false"
VITE_MP_PUBLIC_KEY=suachavepublicamercadopagos
